<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<Config>
  <Port>{{ sonarr_port }}</Port>
  <EnableSsl>False</EnableSsl>
  <LaunchBrowser>False</LaunchBrowser>
  <AuthenticationEnabled>False</AuthenticationEnabled>
  <LogLevel>Info</LogLevel>
  <UrlBase>{{ sonarr_webroot }}</UrlBase>
</Config>
