CP_HOME={{ source_location }}
CP_USER={{ user }}
CP_DATA={{ source_location }}/data
CP_PIDFILE=/var/run/couchpotato.pid
PYTHON_BIN=/usr/bin/python2.7
CP_OPTS=--config_file={{ couchpotato_home }}/config.ini