HP_USER={{ user }}
HP_HOME={{ source_location }}
HP_DATA={{ headphones_home }}
HP_PIDFILE=/var/run/headphones/headphones.pid
PYTHON_BIN=/usr/bin/python2.7
HP_OPTS=" --config={{ headphones_home }}/config.ini"
HP_PORT={{ headphones_port }}

